# Tutorial 2

In [2]:
import pandas as pd
import numpy as np
import re

## Dataset: Liverpool

### Task 1.1

In [60]:
data1 = pd.read_csv("liverpool_2223_season.csv")
data1

          Date  Day Venue  GF  GA         Opponent
0   2022-08-06  Sat  Away   2   2           Fulham
1   2022-08-15  Mon  Home   1   1   Crystal Palace
2   2022-08-22  Mon  Away   1   2   Manchester Utd
3   2022-08-27  Sat  Home   9   0      Bournemouth
4   2022-08-31  Wed  Home   2   1    Newcastle Utd
5   2022-09-03  Sat  Away   0   0          Everton
6   2022-10-01  Sat  Home   3   3         Brighton
7   2022-10-09  Sun  Away   2   3          Arsenal
8   2022-10-16  Sun  Home   1   0  Manchester City
9   2022-10-19  Wed  Home   1   0         West Ham
10  2022-10-22  Sat  Away   0   1  Nott'ham Forest
11  2022-10-29  Sat  Home   1   2     Leeds United
12  2022-11-06  Sun  Away   2   1        Tottenham
13  2022-11-12  Sat  Home   3   1      Southampton
14  2022-12-26  Mon  Away   3   1      Aston Villa
15  2022-12-30  Fri  Home   2   1   Leicester City
16  2023-01-02  Mon  Away   1   3        Brentford
17  2023-01-14  Sat  Away   0   3         Brighton
18  2023-01-21  Sat  Home   0   0          Chelsea
19  2023-02-04  Sat  Away   0   3           Wolves
20  2023-02-13  Mon  Home   2   0          Everton
21  2023-02-18  Sat  Away   2   0    Newcastle Utd
22  2023-02-25  Sat  Away   0   0   Crystal Palace
23  2023-03-01  Wed  Home   2   0           Wolves
24  2023-03-05  Sun  Home   7   0   Manchester Utd
25  2023-03-11  Sat  Away   0   1      Bournemouth
26  2023-04-01  Sat  Away   1   4  Manchester City
27  2023-04-04  Tue  Away   0   0          Chelsea
28  2023-04-09  Sun  Home   2   2          Arsenal
29  2023-04-17  Mon  Away   6   1     Leeds United
30  2023-04-22  Sat  Home   3   2  Nott'ham Forest
31  2023-04-26  Wed  Away   2   1         West Ham
32  2023-04-30  Sun  Home   4   3        Tottenham
33  2023-05-03  Wed  Home   1   0           Fulham
34  2023-05-06  Sat  Home   1   0        Brentford
35  2023-05-15  Mon  Away   3   0   Leicester City
36  2023-05-20  Sat  Home   1   1      Aston Villa
37  2023-05-28  Sun  Away   4   4      Southampton

### Task 1.2

In [61]:
day = data1["Day"]

# using for loop
count = {"Mon":0, "Tue":0, "Wed":0, "Thu":0, "Fri":0, "Sat":0, "Sun":0}
for d in day:
    count[d] = count[d] + 1
print(count)

# using padans method
pd.Series.value_counts(day)

{'Mon': 7, 'Tue': 1, 'Wed': 5, 'Thu': 0, 'Fri': 1, 'Sat': 17, 'Sun': 7}

Day
Sat    17
Mon     7
Sun     7
Wed     5
Fri     1
Tue     1
Name: count, dtype: int64

### Task 1.3

In [62]:

# points = np.array(data1["GF"] - data1["GA"])
# result = np.where(points > 0, "W", np.where(points == 0, "D", "L"))
# pts = np.where(points > 0, 3, np.where(points == 0, 1, 0))
# np.array(np.hstack([np.matrix(data1), np.matrix(result).T, np.matrix(pts).T]))
points = data1["GF"] - data1["GA"]
data1['result'] = points.map(lambda x: 'W' if x > 0 else ('D' if x == 0 else 'L'))
data1['pts'] = points.map(lambda x: 3 if x > 0 else (1 if x == 0 else 0))
data1

          Date  Day Venue  GF  GA         Opponent result  pts
0   2022-08-06  Sat  Away   2   2           Fulham      D    1
1   2022-08-15  Mon  Home   1   1   Crystal Palace      D    1
2   2022-08-22  Mon  Away   1   2   Manchester Utd      L    0
3   2022-08-27  Sat  Home   9   0      Bournemouth      W    3
4   2022-08-31  Wed  Home   2   1    Newcastle Utd      W    3
5   2022-09-03  Sat  Away   0   0          Everton      D    1
6   2022-10-01  Sat  Home   3   3         Brighton      D    1
7   2022-10-09  Sun  Away   2   3          Arsenal      L    0
8   2022-10-16  Sun  Home   1   0  Manchester City      W    3
9   2022-10-19  Wed  Home   1   0         West Ham      W    3
10  2022-10-22  Sat  Away   0   1  Nott'ham Forest      L    0
11  2022-10-29  Sat  Home   1   2     Leeds United      L    0
12  2022-11-06  Sun  Away   2   1        Tottenham      W    3
13  2022-11-12  Sat  Home   3   1      Southampton      W    3
14  2022-12-26  Mon  Away   3   1      Aston Villa      W    3
15  2022-12-30  Fri  Home   2   1   Leicester City      W    3
16  2023-01-02  Mon  Away   1   3        Brentford      L    0
17  2023-01-14  Sat  Away   0   3         Brighton      L    0
18  2023-01-21  Sat  Home   0   0          Chelsea      D    1
19  2023-02-04  Sat  Away   0   3           Wolves      L    0
20  2023-02-13  Mon  Home   2   0          Everton      W    3
21  2023-02-18  Sat  Away   2   0    Newcastle Utd      W    3
22  2023-02-25  Sat  Away   0   0   Crystal Palace      D    1
23  2023-03-01  Wed  Home   2   0           Wolves      W    3
24  2023-03-05  Sun  Home   7   0   Manchester Utd      W    3
25  2023-03-11  Sat  Away   0   1      Bournemouth      L    0
26  2023-04-01  Sat  Away   1   4  Manchester City      L    0
27  2023-04-04  Tue  Away   0   0          Chelsea      D    1
28  2023-04-09  Sun  Home   2   2          Arsenal      D    1
29  2023-04-17  Mon  Away   6   1     Leeds United      W    3
30  2023-04-22  Sat  Home   3   2  Nott'ham Forest      W    3
31  2023-04-26  Wed  Away   2   1         West Ham      W    3
32  2023-04-30  Sun  Home   4   3        Tottenham      W    3
33  2023-05-03  Wed  Home   1   0           Fulham      W    3
34  2023-05-06  Sat  Home   1   0        Brentford      W    3
35  2023-05-15  Mon  Away   3   0   Leicester City      W    3
36  2023-05-20  Sat  Home   1   1      Aston Villa      D    1
37  2023-05-28  Sun  Away   4   4      Southampton      D    1

### Task 1.4

In [63]:
count = {}
Opponent = data1["Opponent"]

for i in range(data1.shape[0]):
    if count.get(Opponent[i]) == None:
        count[Opponent[i]] = 0
    if data1['pts'][i] == 3:
        count[Opponent[i]] += 1

for k in count.keys():
    print(f"Points against {k}: {count[k]}")

Points against Fulham: 1
Points against Crystal Palace: 0
Points against Manchester Utd: 1
Points against Bournemouth: 1
Points against Newcastle Utd: 2
Points against Everton: 1
Points against Brighton: 0
Points against Arsenal: 0
Points against Manchester City: 1
Points against West Ham: 2
Points against Nott'ham Forest: 1
Points against Leeds United: 1
Points against Tottenham: 2
Points against Southampton: 1
Points against Aston Villa: 1
Points against Leicester City: 2
Points against Brentford: 1
Points against Chelsea: 0
Points against Wolves: 1

### Task 1.5

In [65]:
acc = []
for i in range(data1.shape[0]):
    if i == 0: 
        acc.append(data1['pts'][i])
    else:
        acc.append(acc[i-1] + data1['pts'][i])
data1['acc'] = acc
data1

          Date  Day Venue  GF  GA         Opponent result  pts  acc
0   2022-08-06  Sat  Away   2   2           Fulham      D    1    1
1   2022-08-15  Mon  Home   1   1   Crystal Palace      D    1    2
2   2022-08-22  Mon  Away   1   2   Manchester Utd      L    0    2
3   2022-08-27  Sat  Home   9   0      Bournemouth      W    3    5
4   2022-08-31  Wed  Home   2   1    Newcastle Utd      W    3    8
5   2022-09-03  Sat  Away   0   0          Everton      D    1    9
6   2022-10-01  Sat  Home   3   3         Brighton      D    1   10
7   2022-10-09  Sun  Away   2   3          Arsenal      L    0   10
8   2022-10-16  Sun  Home   1   0  Manchester City      W    3   13
9   2022-10-19  Wed  Home   1   0         West Ham      W    3   16
10  2022-10-22  Sat  Away   0   1  Nott'ham Forest      L    0   16
11  2022-10-29  Sat  Home   1   2     Leeds United      L    0   16
12  2022-11-06  Sun  Away   2   1        Tottenham      W    3   19
13  2022-11-12  Sat  Home   3   1      Southampton      W    3   22
14  2022-12-26  Mon  Away   3   1      Aston Villa      W    3   25
15  2022-12-30  Fri  Home   2   1   Leicester City      W    3   28
16  2023-01-02  Mon  Away   1   3        Brentford      L    0   28
17  2023-01-14  Sat  Away   0   3         Brighton      L    0   28
18  2023-01-21  Sat  Home   0   0          Chelsea      D    1   29
19  2023-02-04  Sat  Away   0   3           Wolves      L    0   29
20  2023-02-13  Mon  Home   2   0          Everton      W    3   32
21  2023-02-18  Sat  Away   2   0    Newcastle Utd      W    3   35
22  2023-02-25  Sat  Away   0   0   Crystal Palace      D    1   36
23  2023-03-01  Wed  Home   2   0           Wolves      W    3   39
24  2023-03-05  Sun  Home   7   0   Manchester Utd      W    3   42
25  2023-03-11  Sat  Away   0   1      Bournemouth      L    0   42
26  2023-04-01  Sat  Away   1   4  Manchester City      L    0   42
27  2023-04-04  Tue  Away   0   0          Chelsea      D    1   43
28  2023-04-09  Sun  Home   2   2          Arsenal      D    1   44
29  2023-04-17  Mon  Away   6   1     Leeds United      W    3   47
30  2023-04-22  Sat  Home   3   2  Nott'ham Forest      W    3   50
31  2023-04-26  Wed  Away   2   1         West Ham      W    3   53
32  2023-04-30  Sun  Home   4   3        Tottenham      W    3   56
33  2023-05-03  Wed  Home   1   0           Fulham      W    3   59
34  2023-05-06  Sat  Home   1   0        Brentford      W    3   62
35  2023-05-15  Mon  Away   3   0   Leicester City      W    3   65
36  2023-05-20  Sat  Home   1   1      Aston Villa      D    1   66
37  2023-05-28  Sun  Away   4   4      Southampton      D    1   67

### Task 1.6
Use the internet to figure out what this function does. Then use it to compute the length of the longest winning streak that Liverpool had.

```Python
import re
def fn1(str1):
    out_string = re.split('[LD]+', str1)
    st1 = [len(x) for x in out_string]
    return st1
rle_out = fn1(liv.result.str.cat())
np.max(rle_out)
```

In [71]:
def fn1(str):
    out_string = re.split('[LD]+', str)
    st1 = [len(x) for x in out_string]
    return st1

"""
str = ""
for i in range(data1.shape[0]):
    str += data1.result[i]
rle_out = fn1(str)
"""
rle_out = fn1(data1.result.str.cat())

np.max(rle_out)

np.int64(7)

### Task 1.7

In [27]:
# The first 10 rows
data1.iloc[0:10]

         Date  Day Venue  GF  GA         Opponent result  pts  acc
0  2022-08-06  Sat  Away   2   2           Fulham      D    1    1
1  2022-08-15  Mon  Home   1   1   Crystal Palace      D    1    2
2  2022-08-22  Mon  Away   1   2   Manchester Utd      L    0    2
3  2022-08-27  Sat  Home   9   0      Bournemouth      W    3    5
4  2022-08-31  Wed  Home   2   1    Newcastle Utd      W    3    8
5  2022-09-03  Sat  Away   0   0          Everton      D    1    9
6  2022-10-01  Sat  Home   3   3         Brighton      D    1   10
7  2022-10-09  Sun  Away   2   3          Arsenal      L    0   10
8  2022-10-16  Sun  Home   1   0  Manchester City      W    3   13
9  2022-10-19  Wed  Home   1   0         West Ham      W    3   16

In [ ]:
# Alternate rows from the first 10 rows, starting with the first.
data1[:10:2]

         Date  Day Venue  GF  GA         Opponent result  pts  acc
0  2022-08-06  Sat  Away   2   2           Fulham      D    1    1
2  2022-08-22  Mon  Away   1   2   Manchester Utd      L    0    2
4  2022-08-31  Wed  Home   2   1    Newcastle Utd      W    3    8
6  2022-10-01  Sat  Home   3   3         Brighton      D    1   10
8  2022-10-16  Sun  Home   1   0  Manchester City      W    3   13

In [59]:
# Every alternate row, and columns Date, Venue, GF, GA and result.
data1.iloc[0:10:2][['Date', 'Venue', 'GF', 'GA', 'result']]

         Date Venue  GF  GA result
0  2022-08-06  Away   2   2      D
2  2022-08-22  Away   1   2      L
4  2022-08-31  Home   2   1      W
6  2022-10-01  Home   3   3      D
8  2022-10-16  Home   1   0      W

In [45]:
# The last 5 rows.
data1.iloc[-5:]

          Date  Day Venue  GF  GA        Opponent result  pts  acc
33  2023-05-03  Wed  Home   1   0          Fulham      W    3   59
34  2023-05-06  Sat  Home   1   0       Brentford      W    3   62
35  2023-05-15  Mon  Away   3   0  Leicester City      W    3   65
36  2023-05-20  Sat  Home   1   1     Aston Villa      D    1   66
37  2023-05-28  Sun  Away   4   4     Southampton      D    1   67

In [58]:
# All rows in reverse order.
data1.iloc[::-1]

          Date  Day Venue  GF  GA         Opponent result  pts  acc
37  2023-05-28  Sun  Away   4   4      Southampton      D    1   67
36  2023-05-20  Sat  Home   1   1      Aston Villa      D    1   66
35  2023-05-15  Mon  Away   3   0   Leicester City      W    3   65
34  2023-05-06  Sat  Home   1   0        Brentford      W    3   62
33  2023-05-03  Wed  Home   1   0           Fulham      W    3   59
32  2023-04-30  Sun  Home   4   3        Tottenham      W    3   56
31  2023-04-26  Wed  Away   2   1         West Ham      W    3   53
30  2023-04-22  Sat  Home   3   2  Nott'ham Forest      W    3   50
29  2023-04-17  Mon  Away   6   1     Leeds United      W    3   47
28  2023-04-09  Sun  Home   2   2          Arsenal      D    1   44
27  2023-04-04  Tue  Away   0   0          Chelsea      D    1   43
26  2023-04-01  Sat  Away   1   4  Manchester City      L    0   42
25  2023-03-11  Sat  Away   0   1      Bournemouth      L    0   42
24  2023-03-05  Sun  Home   7   0   Manchester Utd      W    3   42
23  2023-03-01  Wed  Home   2   0           Wolves      W    3   39
22  2023-02-25  Sat  Away   0   0   Crystal Palace      D    1   36
21  2023-02-18  Sat  Away   2   0    Newcastle Utd      W    3   35
20  2023-02-13  Mon  Home   2   0          Everton      W    3   32
19  2023-02-04  Sat  Away   0   3           Wolves      L    0   29
18  2023-01-21  Sat  Home   0   0          Chelsea      D    1   29
17  2023-01-14  Sat  Away   0   3         Brighton      L    0   28
16  2023-01-02  Mon  Away   1   3        Brentford      L    0   28
15  2022-12-30  Fri  Home   2   1   Leicester City      W    3   28
14  2022-12-26  Mon  Away   3   1      Aston Villa      W    3   25
13  2022-11-12  Sat  Home   3   1      Southampton      W    3   22
12  2022-11-06  Sun  Away   2   1        Tottenham      W    3   19
11  2022-10-29  Sat  Home   1   2     Leeds United      L    0   16
10  2022-10-22  Sat  Away   0   1  Nott'ham Forest      L    0   16
9   2022-10-19  Wed  Home   1   0         West Ham      W    3   16
8   2022-10-16  Sun  Home   1   0  Manchester City      W    3   13
7   2022-10-09  Sun  Away   2   3          Arsenal      L    0   10
6   2022-10-01  Sat  Home   3   3         Brighton      D    1   10
5   2022-09-03  Sat  Away   0   0          Everton      D    1    9
4   2022-08-31  Wed  Home   2   1    Newcastle Utd      W    3    8
3   2022-08-27  Sat  Home   9   0      Bournemouth      W    3    5
2   2022-08-22  Mon  Away   1   2   Manchester Utd      L    0    2
1   2022-08-15  Mon  Home   1   1   Crystal Palace      D    1    2
0   2022-08-06  Sat  Away   2   2           Fulham      D    1    1

## Truncated Poisson

In [72]:
y_values = np.array([1, 2, 3, 5])
y_freq = np.array([12, 14, 3, 1])

y_bar = np.sum(y_values * y_freq) / np.sum(y_freq)

def lambda_mle(lambda_est):
    return lambda_est / (1 - np.exp(lambda_est))

lambda_est = np.arange(0.5, 2.01, 0.01)
diff = np.abs(lambda_mle(lambda_est) - y_bar)

mle = lambda_est[np.argmin(diff)]

mle

np.float64(2.0000000000000013)